.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.font-thin {
    font-weight: 100;
}

.font-extralight {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

/* Typography Styles */

/* Headings */
.text-h1 {
    font-size: 2.5rem;
    /* Example for h1 */
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.text-h2 {
    font-size: 2rem;
    /* Example for h2 */
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.text-h3 {
    font-size: 1.75rem;
    /* Example for h3 */
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.text-h4 {
    font-size: 1.5rem;
    /* Example for h4 */
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.text-h5 {
    font-size: 1.25rem;
    /* Example for h5 */
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.text-h6 {
    font-size: 1rem;
    /* Example for h6 */
    font-weight: bold;
    line-height: 1.7;
    margin-bottom: 1rem;
}

/* Paragraph */
p {
    font-size: 1rem;
    /* Default size for paragraphs */
    line-height: 1.6;
    margin-bottom: 1rem;
    /* Space after paragraphs */
}

/* Text sizes */
.text-xs {
    font-size: 0.795rem;
    /* Small text size */
    line-height: 1.2;
}

.text-sm {
    font-size: 0.875rem;
    /* Small text size */
    line-height: 1.4;
}

.text-lg {
    font-size: 1.25rem;
    /* Large text size */
    line-height: 1.6;
}

/* Inline code */
.inline-code {
    font-family: monospace;
    font-size: 0.875rem;
    /* Adjust as needed */
    background-color: #f4f4f4;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
}

/* Muted text */
.muted {
    color: #6c757d;
    /* Muted text color */
    font-size: 1rem;
    line-height: 1.6;
}